.support__item {
    display: flex;
    flex-direction: column;
    transition: all 0.4s;

    @media (max-width: 430px) {
        margin-bottom: 30px;
    }

    &:hover {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        padding: 28px 0;
        margin-right: 30px;

        .drop_icon, .hideInfo {
            position: absolute;
            right: 0;
            transition: all 0.4s;
        }

        .drop_icon {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }

        .hideInfo {
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
        }

        h4 {
            margin: 0;
            font-weight: $demi;
            color: $darkGray;
            font-size: 20px;
        }
    }

    &__content {
        padding: 55px 0 45px 0;
        max-width: 94%;

        p {
            margin: 0;
            font-weight: $book;
            color: $darkGray;
            font-size: 10px !important;
        }
    }
}

.showInfo {
    .support__item__content {
        transition: all 0.4s;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        max-height: 0;
    }

    &__visible {
       > .support__item__content {
            padding: 55px 0 45px 0;
            opacity: 1;
            max-height: initial;
        }

      >  .support__item__header {
            .hideInfo {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }

            .drop_icon {
                visibility: hidden;
                opacity: 0;
                transform: scale(0);
            }
        }
    }
}

.write_to_us {
    &__form {
        display: flex;
        flex-direction: column;
        margin-left: 37px;

        @media (max-width: 480px) {
            margin-left: 0;
        }

        input:not(.write_to_us_btn) {
            line-height: 24px;
            font-size: 20px;
            padding: 20px 0 10px 20px;
        }
    }
}

.wrtote_to_us_theme {
    border-bottom: 2px solid #ccc !important;
    font-size: 14px !important;
    border: none;
    color: #4A4A4A;
    font-size: 14px;
    outline: none;
    width: calc(100% - 20px);
    padding-bottom: 7px;
    font-weight: normal;
}


.wrtote_to_us_theme::-webkit-input-placeholder {
    color: #000;
    padding: 10px 0 0 10px;
}


.wrtote_to_us_message::-webkit-input-placeholder {
    color: #000;
    padding: 10px 0 0 10px;
}

.wrtote_to_us_message {
    font-size: 14px;
    margin-top: 45px;
    border-radius: 10px;
    border: none;
    width: calc(100% - 40px);
    resize: none;
    height: 120px;
    padding: 20px;
}

.write_to_us_btn {
    font-size: 12px !important;
    margin: 31px 0 35px 0 !important;
}

.wrapper_write_to_us {
    width: 70%;

    @media screen and (min-width: 768px) and (max-width: 1px) { 
        width: 100%;
    }

    @media (max-width: 430px) {
        width: 100%;
    }

}

.popular-questions {
    padding: 35px 65px 35px 37px !important;

    @media (max-width: 430px) {
        padding: 35px 20px 35px 20px !important;
    }

    h4 {
        color: #4247f3;
        font-weight: 600;
        font-size: 15px;

    }
}

.faq-table, .finance-table {
    @media (max-width: 480px) {
        display: none;
    }
}

.mobile__table__row__faq {
    padding: 20px 0;

    &:nth-child(even) {
        background: #fff;
    }
}


.main__stores .main__section .transparent > .diabledQuestion {
    display: none;
}

.main__stores .main__section .transparent > .popular-questions {
    display: none;
}