body {
    font-family: "CoreSansG";
    background: #F6F7FB;

    @media (max-width: 430px) {
        overflow-x: hidden;
        width: 100vw;
    }
}

.new_store * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
}

main {
    transition: all 0.4s;
    padding-bottom: 40px;

    @media (max-width: 480px) {
        padding-bottom: 60px !important;
    }

    &.aside_visible {
        transform: translate(12.2%, 0);

        @media (max-width: 430px) {
            transform: translate(0, 0);
        }

        @media screen and (min-width: 768px) and (max-width: 1366px) { 
            transform: translate(14%, 0);
            width: 90%; 
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) { 
            transform: translate(17%, 0);
            width: 88%;
        }
    }
}

.mobile-footer {
    display: none;
}

@media (max-width: 736px) {
    .mobile-footer {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: hsl(228, 38%, 97%);
        height: 70px;
        padding: 0 1em;
        box-shadow: 0px -20px 30px hsl(228, 38%, 97%);
        box-sizing: border-box;

        &__item {}
    }
}

.wrap {
    margin-left: 187px;
    max-width: 1013px;
    padding-top: 50px;

    @media (max-width: 430px) {
        margin-left: 0px;
        padding: 1em !important;
    }

    @media (min-width: 1445px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 1024px) and (max-width: 1366px) {
        margin-left: 135px;
        max-width: 1013px;
        padding-top: 50px;
        width: 78%;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-left: 135px;
        max-width: 1013px;
        padding-top: 50px;
        width: 78%;
    }

}

.main {
    &__section {
        display: grid;
        grid-gap: 30px;

        @media (max-width: 736px) {
            display: block;
        }

        &_send-payment {
            grid-template-columns: 1fr 2fr 1fr;

            .main__section__item {
                grid-column: 2 / 3;
                display: flex;
                flex-direction: column;
                align-items: center;

                .main__section__item__form {
                    width: 100%;
                }
            }
        }

        &__grid {
            grid-template-columns: 1.1fr 1.5fr 0.65fr;

            @media (max-width: 430px) {
                grid-template-columns: 1fr !important;
            }
        }

        &__item {
            position: relative;
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);

            @media (max-width: 430px) {
                grid-column: 1 !important;
                grid-row: auto !important;
            }

            &__col_1-2 {
                grid-column: 1/2;
            }

            &__col_1-3 {
                grid-column: 1/3;
            }

            &__col_1-4 {
                grid-column: 1/4;
            }

            &__col_2-3 {
                grid-column: 2/3;
            }

            &__col_2-4 {
                grid-column: 2/4;
            }

            &__col_3-4 {
                grid-column: 3/4;
            }

            &__row_1 {
                grid-row: 1;
            }

            &__row_2 {
                grid-row: 2;
            }

            &__row_1-3 {
                grid-row: 1/3;
            }

            header {
                display: flex;
            }

            h3, h5 {
                margin: 0;
                font-weight: 600;
                font-size: 20px;
                color: #4A4A4A;
            }

            &__form {
                margin-top: 32px;
                display: flex;
                flex-direction: column;
                position: relative;
                padding-bottom: 65px;
                width: 50%;

                @media (max-width: 480px) {
                    width: 100%;
                    margin-top: 0;
                }

                .btn {
                    margin-top: 50px;
                    align-self: center;
                    position: absolute;
                    bottom: 0;
                }

                h4 {
                    font-weight: $medium;
                    font-size: 18px;
                    color: $darkGray;
                }
            }
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 500;
    -webkit-appearance: none;
    border: none;
    transition: all .4s;
    backface-visibility: hidden;
    outline: none;
    transform: translate3d(0, 0, 0);

    &_small {
        width: 120px;
        height: 32px;
        font-size: 12px;
        font-weight: normal;

        &_gradient {
            color: white;
            background-image: linear-gradient(-72deg, #00FDD9 0%, #00D2FE 100%);

            &:hover {
                transform: translate3d(0, 0, 0) scale(0.98);
            }
        }
    }

    &_big {
        width: 200px;
        height: 55px;

        &_gradient {
            color: white;
            background-image: linear-gradient(-72deg, #00FDD9 0%, #00D2FE 100%);

            &:hover {
                transform: translate3d(0, 0, 0) scale(0.98);
            }
        }
    }
}

.haveCheckbox {
    padding-left: 22px;
    position: relative;
    display: flex;

    &.radioActive {
        span {
            color: $darkGray !important;
        }
    }

    span {
        transition: all 0.4s;
    }

    .fakeRadio {
        &.checked {
            pointer-events: none;
        }
    }

    .fakeCheckbox {
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        top: 5px;
        left: 0;
        border: 1px solid transparent;
        border-radius: 50%;
        border-color: #00D1FF;

        &_small {
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translate(0, -50%);
        }

        &_big {
            width: 10px;
            height: 10px;
        }

        &.checked {
            background: #00D1FF !important;
        }
    }

    input.hiddenCheckbox {
        display: none;
    }
}

.bullet {
    display: flex;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        border: 2px solid transparent;
        border-radius: 50%;
        left: -40px;
        top: 50%;
        transform: translate(0, -50%);
    }

    &_blue {
        $color: #0090FF;

        &::before {
            border-color: $color;
            background-color: $color;
        }
    }

    &_pink {
        $color: #DB00F2;

        &::before {
            border-color: $color;
            background-color: $color;
        }
    }

    &_orange {
        $color: #F9B44A;

        &::before {
            border-color: $color;
            background-color: $color;
        }
    }
}

.circle {
    display: flex;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        border: 2px solid transparent;
        border-radius: 50%;
        left: -40px;
        top: 50%;
        transform: translate(0, -50%);
    }

    &_green {
        $color: #6FEF00;

        &::before {
            border-color: $color;
        }
    }

    &_blue {
        $color: #0200F6;

        &::before {
            border-color: $color;
        }
    }
}

.upload_photo_wrap {
    #uploadPhoto {
        height: 125px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.4s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #fff;

        @media (max-width: 480px) {
            width: 85%;
            height: 100px;
        }

        &:hover {
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);

            span {
                color: $mainBlue;
            }
        }

        &:active {
            transition: all 0s;
            box-shadow: none;
        }

        span {
            margin-top: 12px;
            color: $lightestGray;
            font-size: 18px;
            transition: all 0.4s;
            font-weight: $medium;

            @media screen and (min-width: 1024px) and (max-width: 1366px) { 
                font-size: 12px;
            }

            @media screen and (min-width: 768px) and (max-width: 1023px) { 
                font-size: 8px;
            }

            @media (max-width: 480px) {
                font-size: 14px;
            }
        }

      

        input {
            display: none;
        }
    }

}

.upload_photo_wrap {
    #uploadPhotoSecond { 
        height: 125px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.4s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #fff;

        @media (max-width: 480px) {
            width: 85%;
            height: 100px;
        }

        &:hover {
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);

            span {
                color: $mainBlue;
            }
        }

        &:active {
            transition: all 0s;
            box-shadow: none;
        }

        span {
            margin-top: 12px;
            color: $lightestGray;
            font-size: 18px;
            transition: all 0.4s;
            font-weight: $medium;

            @media screen and (min-width: 1024px) and (max-width: 1366px) { 
                font-size: 12px;
            }

            @media screen and (min-width: 768px) and (max-width: 1023px) { 
                font-size: 8px;
            }

            @media (max-width: 480px) {
                font-size: 14px;
            }
        }

        input {
            display: none;
        }
    }

}

.main__input {
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    color: $darkGray;
    font-size: 14px;
    outline: none;
    width: 100%;
    padding-bottom: 7px;
    font-weight: $book;

    & + .main__input {
        margin-top: 60px;
    }
}

@media (max-width: 430px) {
    .custom_list__wrap, .section__payment {
        padding-bottom: 130px;
    }

    .custom_list__wrap {
        max-width: 80vw;
        overflow: scroll;
    }
}

.custom_list {
    &__wrap {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        &_name {
            padding-left: 35px;
        }

        &_checkboxes {
            display: flex;
            align-items: center;
            margin-left: 45px;
            align-self: flex-end;

            .haveCheckbox {
                margin: 0;

                .fakeCheckbox {
                    top: 3px;
                    border: 1px solid #9B9B9B;

                    &.checked {
                        background: #4A4A4A !important;
                        border-color: #4A4A4A;
                    }
                }

                span {
                    font-weight: $demi;
                    font-size: 14px;
                    color: $lightGray;
                }

                & + * {
                    margin-left: 30px;
                }
            }
        }

        &_btn {
            font-weight: $medium;
            font-size: 12px;
            color: $darkGray;
            width: 120px;
            height: 32px;
            border: 1px solid $darkGray;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-left: 40px;
            margin-bottom: -27px;

            input {
                -webkit-appearance: none;
                border: none;
                text-align: right;
                max-width: 50%;
                background: transparent;
                margin-left: -24%;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        padding: 15px;

        &:nth-child(odd) {
            background: #FAFAFA;
        }
    }

    &__name {
        span {
            font-size: 16px;
            font-weight: $medium;
            color: $darkGray;

            &.bullet {
                &::before {
                    left: -21px;
                }
            }
        }
    }

    &__desc {
        margin-top: 6px;
        white-space: nowrap;

        span {
            font-size: 16px;
            font-weight: $medium;
            color: $lightGray;
        }
    }
}

.form {
    &_typical {
        display: flex;
        flex-direction: column;

        input[type="text"] {
            font-weight: $book;
            font-size: 10px;
            color: $darkGray;
            margin-top: 30px;
        }

        input[type="reset"] {
            font-size: 10px;
            color: $darkGray;
            font-weight: $medium;
            border: none;
            margin-top: 8px;
        }

        .haveCheckbox {
            margin: 16px 0 0;

            & + * {
                margin-top: 30px;
            }

            span {
                font-size: 12px;
                color: $darkGray;
                font-weight: $medium;
            }

            .fakeCheckbox {
                top: 3px;
            }
        }
    }
}

.bottom_btns {
    position: absolute;
    bottom: 45px;
    display: flex;
    width: calc(100% - 50px);
    flex-direction: column;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: center;
    align-items: center;

    .btn {
        max-width: 100%;
    }

    &.upper {
        padding-bottom: 22px;
    }
}

.wrap__input_with_heading {
    margin-top: 35px;

    h5 {
        font-size: 14px;
        color: $lightGray;
        font-weight: $book;
    }

    input {
        margin-top: 14px;
        font-size: 10px;
        color: $darkGray;
    }
}

.drop_opened {
    span {
        color: $mainBlue;
    }

    .arrows-cell {
        svg {
            &:first-child {
                transform: translate(0, 7px) rotate(180deg) !important;
            }
        }
    }

    div {
        svg {
            &:first-child {
                transform: rotate(180deg);

                &.revert {
                    transform: translate(0, 7px) rotate(180deg);

                    & + * {
                        transform: translate(0, -7px);
                    }
                }

                * {
                    stroke: #4247f3 !important;
                }
            }

            &:last-child {
                * {
                    stroke: #4247f3 !important;
                }
            }
        }
    }

    .sort_dropdown {
        opacity: 1;
        visibility: visible;
        z-index: 99999;
    }
}

.custom_select {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    border: none;
    background: transparent;
    cursor: pointer;

    &.opened {
        .custom_select__choosen {
            span {
                color: $mainBlue;
            }
        }

        .custom_select__options {
            max-height: 500px;
            position: absolute;
        }

        .hideOptions {
            display: block;
        }

        .showOptions {
            display: none;
        }
    }

    &__choosen {
        color: $mainBlue;
        font-weight: $book;
        display: flex;
        align-items: center;
        font-size: 18px;

        * + * {
            margin-left: 16px;
        }
    }

    &__options {
        max-height: 0;
        overflow: hidden;

        .custom_select__option {
            > span {
                margin-top: 4px;
                font-size: 16px;
                font-weight: $book;
                color: $mainBlue;
                transition: all 0.4s;
            }

            &:hover {
                > span {
                    color: $mainBlue;
                }
            }
        }
    }

    .hideOptions {
        display: none;
    }
}

.custom_select__header {
    top: 50%;
    transform: translateY(-50%);
}

.noTransition {
    transition: all 0s !important;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.transparent {
    opacity: 0.5;
}

#uploadedImage {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#uploadedImageSecond {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper__pagination {
    background: #f8f8f8;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    list-style: none;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 250px;

    > * + * {
        margin-left: 8px;
    }

    li a:hover {
            color: hsl(0, 0%, 45%);
        }
  
    li a {
        color: #9c9c9c;
        font-size: 20px;
        font-weight: 500; 
        transition: all 0.4s;
    }

    .current {
        color: $darkGray;
        pointer-events: none;
    }
}

// .billing {
//     display: flex;
//     justify-content: space-between;

//     @media (max-width: 430px) {
//         flex-wrap: wrap;
//     }

//     .billing-plan { 
//         width: 33%;

//         @media (max-width: 430px) {
//             width: 100%;
//         }
//     }
// }

// .billing-plan {
//     display: flex;
//     flex-direction: column;
//     border: 4px solid transparent;
//     transition: all 0.4s;
//     border-radius: 8px;
//     align-items: center;
//     color: white;
//     padding: 50px 35px 165px;
//     position: relative;
//     width: 265px;
//     background: hsl(191, 100%, 50%);

//     & + * {
//         margin-left: 30px;

//         @media (max-width: 430px) {
//             margin-left: 0;
//             margin-top: 30px;
//         }
//     }

//     &:hover {
//         border-color: hsl(228, 38%, 97%);
//     }

//     &__title {
//         font-weight: $medium;
//         font-size: 31px;
//         letter-spacing: 0.35px;
//         text-align: center;

//         & + * {
//             margin-top: 40px;
//         }
//     }

//     &__price {
//         font-weight: $medium;
//         font-size: 93px;
//         text-align: center;

//         & + * {
//             margin-top: 20px;
//         }
//     }

//     .main__section__cta__btn {
//         width: calc(100% - 70px);
//         height: 70px;
//         position: absolute;
//         bottom: 50px;
//     }

//     &__text {
//         &-item {
//             font-size: 20px;
//             letter-spacing: 0.23px;
//             text-align: center;
//             font-weight: $medium;
//             margin: 0;
//             line-height: 36px;

//             &_margin-top {
//                 margin-top: 20px;
//             }
//         }

//         &-title {
//             font-weight: $medium;
//             font-size: 20px;
//             letter-spacing: 0.23px;
//             text-align: center;
//             margin-bottom: 0;

//             & + * {
//                 margin-top: 40px;
//             }
//         }
//     }
// }

// .main__section__cta__btn {
//     width: calc(100% - 70px);
//     height: 70px;
//     position: absolute;
//     bottom: 50px;
//     background: white;
//     color: #00D7F9;
//     font-weight: 600;
//     font-size: 24px;
//     display: flex;
//     border-radius: 10px;
//     align-items: center;
//     justify-content: center;
//     transition: all .4s;
//     border: 3px solid white;

//     &:hover {
//         background: transparent;
//         color: white;
//     }
// }

.plan_body {
    .wrap {
        box-sizing: border-box;
    }
}

.plan-link {
    color: $mainBlue;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: all 0.4s;
    padding: 0 35px;

    @media (max-width: 430px) {
        padding-left: 0;
    }

    &:hover {
        color: #040bef;
    }

    .payment-icon {
        margin-right: 15px;
    }
}

#language{
	float:left;
    margin: 0;
    padding-left: 160px;

    li {
        float:left;
        position:relative;
        display:block;

        a {
            color: $mainBlue;
            font-size: 18px;

            &:hover {
                background-color: #ddd;
                color: #444;
                border-radius: 4px;
            }
        }
    }
}

#language ul{
	list-style:none;
	position:absolute;
	left:-9999px;
	opacity:0;
    -webkit-transition:0.25s linear opacity;
    
    li {
        padding-top:1px;
        float:none;
    }

    a {
        white-space:nowrap;
        display:block;
    }

}

#language li {

    &:hover ul { 
        left:0;
        opacity:1;
        padding: 0;

        a {
            text-decoration:none;
            -webkit-transition:-webkit-transform 0.075s linear;
        }
    }
    
    &:hover a{ 
    }

}

#language li:hover ul li a:hover{
	background-color: #ddd;
    color: #444;
    border-radius: 4px;
}

.popup {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 150%);
    background: white;
    border-radius: 8px;
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);
    transition: all 0.4s;

    &.visible {
        transform: translate(-50%, 0%);
    }

    &_success {
        .popup__text {
            color: $mainBlue;
        }
    }

    &_error {
        .popup__text {
            color: hsl(0, 100%, 50%);
        }
    }
}

.sort_dropdown {
    position: absolute;
    background: white;
    width: 11%;
    top: 57px;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    box-shadow: 3px 8px 14px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0 0 8px 8px;
    padding: 0 20px 0 20px;

    &__list {
        list-style: none;
        padding: 1em 0;
        margin: 0;

        &__item {
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background: hsla(0, 0%, 85%, 0.2) !important;
            }

            a {
                display: flex;
                justify-content: center;
                padding: 12px 0;
                align-items: center;
                color: #4A4A4A;
                font-size: 12px;
            }

            &:nth-child(odd) {
                background: hsla(0, 0%, 85%, 0.05);
            }

            &__status {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    left: 30%;
                    border-radius: 50%;
                    border: 1px solid transparent;
                }

                &_success {
                    &::before {
                        background: #50E3C2;
                    }
                }

                &_error {
                    padding-right: 10px !important;

                    &::before {
                        border-color: #D0021B;
                    }
                }

                &_timeout {
                    &::before {
                        border-color: #F8E71C;
                    }
                }
            }
        }
    }

    &__date {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;

        &__input_wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 27px 0 12px;

            input {
                border: none;
                outline: none;
                font-weight: 500;
                font-size: 12px;
                color: #4A4A4A;
                width: 40%;

                &:first-child {
                    text-align: right;
                }
            }

            p {
                font-weight: 500;
                color: #4A4A4A;
                font-size: 12px;
            }
        }

        &__submit {
            border: none;
            background: #00D1FF;
            color: white;
            font-weight: 500;
            font-size: 10px;
            padding: 16px 0;
            outline: none;
        }
    }
}

.mobile-table {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @media (min-width: 480px) {
        display: none;
    }

    &__item {
        border-radius: 8px;
        background: #fff;
        padding: 14px;
        display: flex;
        flex-wrap: wrap;

        & + * {
            margin-top: 10px;
        }
    }

    &__cell {
        width: calc((100% / 4) - 5px);
        margin-right: 5px;
        margin-bottom: 8px;
        font-family: 'CoreSansG';
        font-weight: $medium;
        font-size: 12px;
        color: #9B9B9B;
    }

    * {
        box-sizing: border-box;
    }
}

.mobile-filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & + * {
        margin-top: 45px;
    }

    &__item {
        height: 35px;
        width: calc((100% / 2) - 8px);
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px 0 20px;
        margin-top: 5px;
        position: relative;

        &.fakeCheckbox {
            & + * {
                opacity: 1;
                max-height: 600px;
            }
        }

        .sort_dropdown {
            z-index: 99;
            left: 0;
        }

        &_blue {
            margin-top: 0;
            background-image: linear-gradient(-72deg, hsl(171, 100%, 50%) 0%, hsl(190, 100%, 50%) 100%);
            color: #fff;
        }
    }

    &__holder {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 0;
        transition: all 0.4s;
        opacity: 0;
        height: 100%;
    }

    &__text {
        font-size: 10px;
    }
}

.text-w-input {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    > * {
        width: calc(50% - 8px);
    }

    & + * {
        margin-top: 1rem;

        @media (max-width: 500px) {
            margin-top: 2rem;
        }
    }

    @media (max-width: 500px) {
        flex-direction: column;

        > * {
            width: 100%;

            & + * {
                margin-top: 8px;
            }
        }
    }
}

.text-w-select {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &__select {
        position: relative;
        border-bottom: 1px solid hsl(0, 0%, 0%);
        padding-bottom: 7px;
        justify-content: flex-start;

        span {
            color: hsl(0, 0%, 29%);
        }

        .sort_dropdown {
            top: 25px;
            z-index: 999;
        }
    }

    & + * {
        margin-top: 1rem;

        @media (max-width: 500px) {
            margin-top: 2rem;
        }
    }

    > * {
        width: calc(50% - 8px);
    }

    @media (max-width: 500px) {
        flex-direction: column;

        > * {
            width: 100%;

            & + * {
                margin-top: 8px;
            }
        }
    }
}

.send-payment {
    @media (max-width: 500px) {
        margin-top: 100px;
        grid-template-columns: 1fr;
    }

    &__order {
        margin-top: 1rem !important;
        font-weight: 300 !important;

        & + * {
            margin-top: 2rem !important;
        }
    }

    &__store {
        font-weight: 600 !important;
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;

            & + * {
                margin-left: 1rem;
            }
        }

        & + * {
            margin-top: 3rem !important;
        }
    }

    .main__section__item__form {
        max-width: 350px;
        padding-bottom: 155px;
    }
}

.copy-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;

    &__input {
        width: 100%;
        pointer-events: none;
        background: hsla(0, 0%, 80%, 0.3);
        padding: 7px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        width: 15%;
        cursor: pointer;
        position: relative;
    }

    &.show-copy {
        .copy-block__success {
            display: flex;
        }
    }

    &__success {
        display: none;
        position: absolute;
        padding: 5px;
        background: hsl(0, 0%, 95%);
        border-radius: 5px;
        top: -1rem;
        left: 50%;
        transform: translate(-50%, -100%);
    }
}

.send-payment-page {
    .wrap {
        margin-left: 0;
        margin: 0 auto;
    }

    a.main-logo {
        position: absolute;
        left: 40px;
        top: 40px;
    }

    a.move-to-store {
        position: absolute;
        right: 40px;
        top: 60px;
    }
}

.move-to-store {
    display: flex;
    align-items: center;

    &:hover {
        .move-to-store__icon {
            transform: translate(-6px, 0);
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;

        & + * {
            margin-left: 5px;
        }

        svg {
            transform: rotate(90deg);
        }
    }
}

.mobile-table-slick {
    display: none !important;

    @media (max-width: 480px) {
        display: block !important;
    }
}

.mobile__table__row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
    display: none;

    &:nth-child(odd) { 
        background: #f8f8f8;
    }

    &:faq {
        padding: 20px 0;
    }

    @media (max-width: 480px) {
        display: flex;
    }    
}



