.header-date {
    margin: 0 auto;
    transform: translateX(-55px);
    margin: 0 auto;
    color: #2e2e2e;
    font-family: "Core Sans G", sans-serif;
    font-size: 15px;
    line-height: 21px;

    @media (max-width: 480px) {
        display: none;
    }
}

.wrapper-speaker {
    padding-left: 40px;

    @media (max-width: 480px) {
        padding-left: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 1024px) {
            div:nth-child(3) {
                margin-top: 45px;
            }
        }

        @media (max-width: 480px) {
            div:nth-child(3) {
                margin-top: 0;
            }
        }
    }

    &__link,
    &__event {
        max-width: 270px;
        width: 100%;
        margin-right: 20px;
        @media (max-width: 768px) {
            max-width: 215px;
        }

        @media (max-width: 480px) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &__link {
        @media (max-width: 768px) {
            margin-right: 0;
        }
    }


    &__title {
        color: #2e2e2e;
        font-family: "Core Sans G", sans-serif;
        font-size: 18px;
        line-height: 21px;

        @media (max-width: 768px) {
            font-size: 14px;
            margin-top: 0;
        }
    }

    &__form_input {
        max-width: 270px;
        width: calc(100% - 25px);
        height: 36px;
        background-color: #fff;
        border: none;
        color: #9b9b9b;
        font-family: "Core Sans G", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        padding-left: 25px;
    }

    &__warning {
        color: red !important;
    }

    &__download {

       .photo-change {
            width: 36px;
            height: 36px;
            display: inline-block;
            margin-left: 15px;

            @media (max-width: 480px) {
                margin: 0 15px 20px 0;
            }
        }

        .margin-reset {
            margin-left: 0;
        }

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__textarea {
        resize: none;
        width: calc(100% - 50px);
        height: 230px;
        border: none;
        padding: 25px;
        color: #9b9b9b;
        font-family: "Core Sans G", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        outline: none;
        margin-top: 15px;
    }

    &__counter {
        color: #2e2e2e;
        font-family: "Core Sans G", sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 11px;
    }

    &__description {
        h4 {
            margin-bottom: 0;
        }
    }

    &__s-h-pass {
        text-align: right;
        display: block;
        margin-top: 10px;
        color: #9b9b9b;
        font-family: "Core Sans G", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        cursor: pointer;
    }

    &__submit {
        width: 120px;
        height: 36px;
        border-radius: 6px;
        background-color: #4247f3;
        color: #fff;
        font-family: "Core Sans G", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 30px auto;
    }
}

.margin-top {
    margin-top: 45px;

    @media (max-width: 480px) {
        margin-top: 0;
    }
}